@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins&display=swap');
.productsList{
    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: auto;
    border: 2px solid black;
}
.imgDiv{
     width: 100%;
}
.imgDiv>img{
    width: 80%;
}
.allProd{
    display: grid;
    grid-template-columns: repeat(3,1fr);
gap: 25px;

}
.cards{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px;
}

.cards:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 16px 0px;
}
.cardImg>img{
  width: 100%;
  height: 300px;
}
.cardInfo>h3{
    margin-left: 10px;
}
.cardInfo>h3>span{
    display: flex;
    align-content: start;
}
.cardInfo>h4{
    background-color: rgb(201, 201, 201); 
    width: 70px   
}
.cardInfo>div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cardInfo>div>p{
    font-size: 18px;
    margin-right: 50px;
  
}

.cardInfo>div>button{
    background-color: rgb(25,94,73);
    margin-left: 120px;
    border: 0;
    color: white;
    height: 40px;
    width: 130px;
    margin-top: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.BigCard{
    font-family: 'Poppins', sans-serif;
    margin: 90px;
    border: 2px solid rgb(25,94,73);
}
.singleCard{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 40px;
   
}
.detail{
   margin-right: 30px;
    width: 100%;
}
.ImageD>img{
    width: 700px;
    height: 600px;
}
.detail>h1{
    font-size: 40px;
    width: 100%;
    
}
.detail>h3{
    font-size: 15px;
}
.detail>h3>span{
    color: rgb(25,94,73);
}
.price{
    width: 90%;
    
    display: flex;
    justify-content: space-between;
}
hr{
    
    width: 98%;
}
.price>h3{
    margin: 0;
}
.carting>button{
    border: 0;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}
.carting{
    border: 1px solid rgb(25,94,73);
    border-radius: 80px;
    padding: 10px;
    width: 150px;
    text-align: center;
}
.cartingM{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.cartingM>button{
    width: 70%;
    background-color: rgb(25,94,73);
    border: 0;
    color: white;
    border-radius: 40px;
    cursor: pointer;
}

.about{
    display: flex;
    gap: 40px;
    width: 100%;
}
.ImageA>img{
    width: 700px;
    height: 600px;
}
.in{
   width: 40%;
}
.in>p{
    display: flex;
    justify-content: space-between ;
    margin: 1px;
}
.in>p>span{
    font-weight: bold;
    font-size: 20px;
}
.para>p{
    font-size: 14px;
}
.in>h2{
    margin-bottom: 80px;
}
.finalImg>img{
 width: 80%;
}
.finalImg{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}