@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins&display=swap");
.App {
  font-family: "Fjalla One";
  text-align: center;
}
/* .first_element {
  background-color: black;
  color: #ffff;
  margin: 0;
  padding: 0;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
